{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }}  {{ activite.nom}} de {{ activite.groupe.paroisse }}{% endblock %}

{% block body %}
    <div class="content-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Détails </h4>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-right">
                <a href="{{ path('backend_activite_index') }}" class="btn btn-primary" ><i class="fa fa-list"></i> Liste des activités</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" style="font-size: 1.3rem;">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-3">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="mt-2 mb-0">{{ activite.nom  }}</h5>
                            <small class="text-muted">{{ activite.groupe.paroisse }}</small>
                            <p class="text-left text-muted">
                                Type activité: {{ activite.type|lower }} <br>
                                Cible: {{ cible }}
                            </p>
                        </div>
                        <div class="text-left mb-3">
                            <ul class="list-unstyled mb-0">
                                <li class="mt-2"><i class="fas fa-map-marker-alt mt-2 mr-2"></i> <b>Lieu</b> : {{ activite.lieu }}</li>
                                <li class=""> <i class="fa fa-calendar-check mr-2"></i> <b> Nom </b> : {{ activite.dateDebut|date('d-m-Y') }}</li>
                                <li class="mb-5"><i class="fa fa-calendar-check mr-2"></i> <b> Email </b> : {{ activite.dateFin|date('d-m-Y') }}</li>
                            </ul>
                        </div>
                        <div class="row text-center">
                            <div class="col-6">
                                <a href="{{ path('backend_activite_edit', {'slug': activite.slug}) }}" class="btn btn-outline-primary btn-block mb-2">Modifier</a>
                            </div>
                            <div class="col-6">
                                {{ include('activite/_delete_form.html.twig') }}
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-12 mt-3 align-self-center p-0">
                                <p class="font-32 mb-0">{{ participants|length|number_format(0,'','.') }}</p>
                                <p class="mb-0">Participants</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h6 class="header-title pb-3">Copie autorisation</h6>
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <a href="{{ absolute_url(asset('uploads/activites/autorisations/' ~ activite.autorisation)) }}" target="_blank">
                                            <i class="fa fa-file-alt fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card m-b-30 contact">
                            <div class="card-body">
                                <h6 class="header-title pb-3">Site d'accueil</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class=""> <i class="fa fa-user mr-2"></i> <b> Nom </b> : {{ activite.nomProprietaire }}</li>
                                    <li class="mt-2"><i class="fa fa-box mr-2"></i> <b> Fonction </b> : {{ activite.fonctionProprietaire}}</li>
                                    <li class="mt-2"><i class="fas fa-map-marker-alt mt-2 mr-2"></i> <b>Contact</b> :
                                        {{ activite.contactProprietaire }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-9">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#about" data-toggle="tab" aria-expanded="false"><i class="ti-user mr-2"></i>Présentation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#map" data-toggle="tab" aria-expanded="false"><i class="ti-image mr-2"></i>Géolocalisation</a>
                                </li>
                            </ul>


                            <div class="tab-content">
                                <div class="tab-pane active pt-3" id="about">
                                    <div class="row">
                                        <div class="col-md-12  profile-detail">
                                            <div class="">
                                                <h5 class="mb-0 py-2"> <i class="fa fa-book text-primary"></i> Description</h5>
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-left">
                                            <p class="detail-text">
                                                {{ activite.description|raw }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-md-12  profile-detail">
                                            <div class="">
                                                <h5 class="mb-0 py-2"> <i class="fa fa-map-pin text-primary"></i> Localisation</h5>
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-left">
                                            <p class="detail-text">
                                                {{ activite.situation|raw }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="map">
                                    <p class="pt-3 text-muted">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="header-title pb-3">Participants</h5>
                                <table id="datatable-buttons" class="table table-striped table-bordered text-white" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">CARTE</th>
                                        <th class="text-center">MATRICULE</th>
                                        <th class="text-center">NOM & PRENOMS</th>
                                        <th class="text-center">SEXE</th>
                                        <th class="text-center">FONCTION</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for participant in participants %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ participant.carte }}</td>
                                            <td>{{ participant.matricule }}</td>
                                            <td>{{ participant.nom|upper }} {{ participant.prenoms|title }}</td>
                                            <td>{{ participant.sexe }}</td>
                                            <td>{{ participant.fonction }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7" class="text-center">Aucun participant</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->

            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/backoffice/plugins/datatables/dataTables.bootstrap4.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.bootstrap4.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/backoffice/plugins/datatables/responsive.bootstrap4.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/dataTables.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/dataTables.buttons.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/jszip.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/pdfmake.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/vfs_fonts.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.html5.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.print.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.colVis.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/dataTables.responsive.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/responsive.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/pages/datatables.init.js')) }}"></script>
{% endblock %}